html, body {
		overflow-x:hidden;
		overflow-y:hidden;
	}
	body {
		position: relative;
	}
	.food {
		width: 10px;
		height: 10px;
		background-color: #773333;
		position: absolute;
		z-index: 100;
		border-radius:30%;
		box-shadow: 0px 1px 1px #777777;
	}
	#pet {
		border-radius:100%;
		position: absolute;
		z-index: 1000;
		box-shadow: 0px 2px 2px #777777;
		-webkit-tap-highlight-color: transparent;
	}
	.speak-right::after {
		position: absolute;
		content: attr(data-txt);
		left:35px;
		opacity: 100;
		font-family: Arial,Helvetica,'sans-serif';
		background-color: #ffffff;
		border-radius:10px;
		padding:3px;
		font-size:11px;
		box-shadow: 0px 2px 2px #777777;
	}
	.speak-left::before {
		position: absolute;
		content: attr(data-txt);
		left:-35px;
		opacity: 100;
		font-family: Arial,Helvetica,'sans-serif';
		background-color: #ffffff;
		border-radius:10px;
		padding:3px;
		font-size:11px;
		box-shadow: 0px 2px 2px #777777;
		text-align: right;
	}

	#window {
		
	}
